header {
    background-color: $primary-color;
    nav{
        padding: 20px;
        ul{
            list-style: circle;
            li{
               text-decoration: underline; 
            }
        }
    }
}
div {
    width: 100px;
    p{
        font-size: 20px;
    }
}
// /*Sass | Scss*/
// div
//    width: 100px

//    p
//       font-size: 20px
/* Añador en los parentesis un parametro o variable vacio | 
En esta variable vamos a decidir que valor va a tener en el futuro | El futuro es cuando llamemos o utilicemos ese mixin*/

@mixin border-radius ($radius) {
    border-radius: $radius;
}

.box {
    @include border-radius(10px)
}

.mapa {
    @include border-radius(20px)
}

/* SASS*/
// @mixin border-radius ($radius) 
//     border-radius: $radius;


// .box 
//     @include border-radius(10px)


// .mapa 
//     @include border-radius(20px)